body {
    display: flex;
    flex-direction: column;
    background-color: #181818;
    align-items: center;
    margin: 48px;
}

.spacer {
    text-align: center;
}

p {
    color: aliceblue;
}

h2 {
    color: aliceblue;
}