body {
    display: flex;
    flex-direction: column;
    background-color: #181818;
    align-items: center;
    justify-content: center;
}

.spacer {
    text-align: center;
}

p {
    color: aliceblue;
}

h2 {
    color: aliceblue;
}